body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.edit-profile-btn {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-profile-btn:hover {
    background-color: #0056b3;
}

.profile-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-payment-method-btn,
.change-password-btn,
.toggle-2fa-btn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.add-payment-method-btn:hover,
.change-password-btn:hover,
.toggle-2fa-btn:hover {
    background-color: #218838;
}
